@import url("https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700");
body, html {
  margin: 0;
  height: 100%;
  font-family: "Oswald", sans-serif;
  font-size: 10px; }

* {
  box-sizing: border-box; }

body {
  background: #242424; }

.logo {
  width: 6rem;
  position: fixed;
  top: 2rem;
  left: 2rem; }

.time {
  height: 86vh;
  overflow: hidden;
  font-size: 36vw;
  color: white;
  opacity: 0.1;
  display: flex;
  justify-content: center;
  align-items: center; }

.time .colon, .time .sec {
  opacity: 0.3; }

.controls {
  height: 14vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.control {
  color: white;
  font-size: 2.5vw;
  opacity: 0.08;
  margin-right: 4rem;
  transition: all 0.4s;
  cursor: pointer; }

.control:hover, .control.active {
  opacity: 0.5; }

.control:last-child {
  margin-right: 0; }

.control.a {
  color: inherit;
  text-decoration: none; }

.control.play:hover, .control.play.active {
  color: #2ecc71; }

.control.pause:hover, .control.pause.active {
  color: #f1c40f; }

.control.stop:hover, .control.stop.active {
  color: #e74c3c; }

.control.fast-forward:hover, .control.fast-forward.active {
  color: #3498db; }

.control.misc:hover, .control.misc.active {
  color: #EC407A; }

.settings-panel {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 12px 8px -8px rgba(0, 0, 0, 0.5);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); }

.settings-panel .header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 1.8rem;
  color: white;
  opacity: 0.6;
  font-weight: 100; }

.settings-panel .header .close {
  margin-left: 1.5rem;
  font-size: 3rem;
  line-height: 2.4rem;
  cursor: pointer; }

.settings-panel .body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 8rem;
  padding-top: 4rem; }

.settings-panel .form-group {
  position: relative;
  font-size: 4rem;
  margin-bottom: 6rem; }

.settings-panel .form-group:last-child {
  margin-bottom: 0; }

.settings-panel .form-group input {
  background: none;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  font-size: 4rem;
  color: white;
  opacity: 0.8;
  font-family: "Oswald";
  font-weight: 200;
  text-align: center; }

.settings-panel .form-group input:focus {
  outline: none;
  border-color: rgba(255, 255, 255, 0.5); }

.settings-panel .form-group input:focus + label {
  opacity: 0.5; }

.settings-panel .form-group input:focus + label, .settings-panel .form-group input:valid + label {
  font-size: 80%;
  transform: translateY(-120%); }

.settings-panel .form-group label {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-weight: 100;
  transition: all 0.4s;
  color: white;
  opacity: 0.2; }

.hidden {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.8); }

input[type='number'] {
  -moz-appearance: textfield; }

/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

::-moz-selection {
  background: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.8); }

::selection {
  background: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.8); }

@media (max-width: 992px) {
  .time {
    flex-direction: column;
    height: 82vh;
    font-size: 60vw; }
  .time .min, .time .sec {
    line-height: 25rem; }
  .controls {
    height: 10vh; }
  .control {
    font-size: 8vw; }
  .settings-panel {
    width: 90vw;
    padding: 1rem; }
  .settings-panel .form-group {
    width: 100%;
    font-size: 8vw; }
  .settings-panel .form-group input {
    width: 100%;
    font-size: 8vw; } }
