@import url("https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700");
body, html {
  margin: 0;
  height: 100%;
  font-family: "Oswald", sans-serif;
  font-size: 10px; }

* {
  box-sizing: border-box; }

body {
  background: #242424; }

.logo {
  width: 6rem;
  position: fixed;
  top: 2rem;
  left: 2rem; }

.time {
  height: 86vh;
  overflow: hidden;
  font-size: 36vw;
  color: white;
  opacity: 0.1;
  display: flex;
  justify-content: center;
  align-items: center; }

.time .colon, .time .sec {
  opacity: 0.3; }

.controls {
  height: 14vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.control {
  color: white;
  font-size: 2.5vw;
  opacity: 0.08;
  margin-right: 4rem;
  transition: all 0.4s;
  cursor: pointer; }

.control:hover, .control.active {
  opacity: 0.5; }

.control:last-child {
  margin-right: 0; }

.control.play:hover, .control.play.active {
  color: #2ecc71; }

.control.pause:hover, .control.pause.active {
  color: #f1c40f; }

.control.stop:hover, .control.stop.active {
  color: #e74c3c; }

.control.code:hover, .control.code.active {
  color: #3498db; }

@media (max-width: 992px) {
  .time {
    flex-direction: column;
    height: 82vh;
    font-size: 60vw; }
  .time .min, .time .sec {
    line-height: 25rem; }
  .controls {
    height: 10vh; }
  .control {
    font-size: 8vw; } }
